IRS/Federal/2015v3.0/IndividualIncomeTax/Common/ReturnHeader1040x.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation> 
		<xsd:documentation>
			<Description>IRS e-file Individual Return Header</Description>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>October 29, 2015</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../Common/efileTypes.xsd"/>

	<xsd:element name="ReturnHeader" type="ReturnHeaderType"/>

	<xsd:complexType name="ReturnHeaderType">
		<xsd:annotation>
			<xsd:documentation>Content model for the individual tax return</xsd:documentation>
		</xsd:annotation>
		
		<xsd:sequence>
		
			<!-- Date and Time Stamp -->
			<xsd:element name="ReturnTs" type="TimestampType">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>The date and time when the return was created</xsd:Description>
						<ELFFieldNumber>SUM0260</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Tax Year -->
			<xsd:element name="TaxYr" type="YearType">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Tax Year</xsd:Description>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Tax Period Begin Date -->
			<xsd:element name="TaxPeriodBeginDt" type="DateType">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Tax Period Begin Date</xsd:Description>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Tax Period End Date -->
			<xsd:element name="TaxPeriodEndDt" type="DateType">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Tax Period End Date</xsd:Description>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Imperfect Return Indicator -->
			<xsd:element name="ImperfectReturnInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Imperfect Return Indicator</xsd:Description>
						<ELFFieldNumber>SUM0035</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Consortium Return Code -->
			<xsd:element name="ConsortiumReturnCd" type="ConsortiumType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Consortium Return Code</xsd:Description>
						<ELFFieldNumber>SUM0285</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Affordable Filing Code -->
			<xsd:element name="AffordableFilingCd" type="PartnersPageFilingType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Affordable Filing Code</xsd:Description>
						<ELFFieldNumber>SUM0300</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Intermediate Service Provider Number -->
			<xsd:element name="ISPNum" type="ISPType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Intermediate Service Provider Number</xsd:Description>
						<ELFFieldNumber>SUM0030</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Software Identification -->
			<xsd:element name="SoftwareId" type="SoftwareIdType">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Software Identification</xsd:Description>
						<ELFFieldNumber>SUM0230</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Software Version -->
			<xsd:element name="SoftwareVersionNum" type="SoftwareVersionType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Software Version</xsd:Description>
						<ELFFieldNumber>SUM0240</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Originator -->
			<xsd:element name="OriginatorGrp">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="EFIN" type="EFINType"/>
						<xsd:element name="OriginatorTypeCd" type="OriginatorType"/>						
						<!-- Practitioner PIN -->
						<xsd:element name="PractitionerPINGrp" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<ELFFieldNumber>AUTH0090</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="EFIN" type="EFINType"/>
									<xsd:element name="PIN" type="PINType"/>
								</xsd:sequence>
							</xsd:complexType>
					        </xsd:element>
				        </xsd:sequence>
			        </xsd:complexType>
			</xsd:element>
						
			<!-- Self-select PIN -->
			<xsd:element name="SelfSelectPINGrp" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Self-select PIN</xsd:Description>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PrimaryBirthDt" type="DateType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<xsd:Description>Primary Date Of Birth</xsd:Description>
									<ELFFieldNumber>AUTH0010</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SpouseBirthDt" type="DateType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<xsd:Description>Spouse Date Of Birth</xsd:Description>
									<ELFFieldNumber>AUTH0040</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="PrimaryPriorYearAGIAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<xsd:Description>Primary Prior Year AGI</xsd:Description>
									<ELFFieldNumber>AUTH0020</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SpousePriorYearAGIAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<xsd:Description>Spouse Prior Year AGI</xsd:Description>
									<ELFFieldNumber>AUTH0050</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="PrimaryPriorYearPIN" type="PINType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<xsd:Description>Primary Prior Year PIN</xsd:Description>
									<ELFFieldNumber>AUTH0025</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="PrimaryElectronicFilingPIN" type="PINType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Primary Electronic Filing PIN</Description>
									<ELFFieldNumber>AUTH0030</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<xsd:element name="SpousePriorYearPIN" type="PINType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<xsd:Description>Spouse Prior Year PIN</xsd:Description>
									<ELFFieldNumber>AUTH0055</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SpouseElectronicFilingPIN" type="PINType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Spouse Electronic Filing PIN</Description>
									<ELFFieldNumber>AUTH0060</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
       		<!-- PIN provided by IRS to taxpayers who are victims of identify theft -->
       		<xsd:element name="IdentityProtectionPIN" minOccurs="0">
          			<xsd:annotation>
					<xsd:documentation>
						<Description>PIN provided by IRS to taxpayers who are victims of identify theft</Description>
						<ELFFieldNumber>F1040-1330</ELFFieldNumber>
					</xsd:documentation>
          			</xsd:annotation>
				<xsd:simpleType>
			        <xsd:restriction base="TextType">
			            <xsd:maxLength value="6"/>
			        </xsd:restriction>
        		</xsd:simpleType>
       		</xsd:element>

       		<!-- Spouse Identity Protection PIN -->
       		<xsd:element name="SpouseIdentityProtectionPIN" minOccurs="0">
          			<xsd:annotation>
					<xsd:documentation>
						<Description>PIN provided by IRS to taxpayers who are victims of identify theft</Description>
					</xsd:documentation>
          			</xsd:annotation>
				<xsd:simpleType>
			        <xsd:restriction base="TextType">
			            <xsd:maxLength value="6"/>
			        </xsd:restriction>
        		</xsd:simpleType>
       		</xsd:element>

			<!-- PIN Type Code -->
			<xsd:element name="PINTypeCd" type="PINCodeType">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>PIN Type Code</xsd:Description>
						<ELFFieldNumber>AUTH0008</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Jurat Disclosure Code -->
			<xsd:element name="JuratDisclosureCd">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Jurat Disclosure Code</xsd:Description>
						<ELFFieldNumber>AUTH0075</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="StringType">
						<xsd:enumeration value="Online Self Select PIN"/>
						<xsd:enumeration value="Self Select PIN By ERO"/>
						<xsd:enumeration value="Practitioner PIN"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			
			<!-- Primary PIN entered by -->
			<xsd:element name="PrimaryPINEnteredByCd" type="PINEnteredByType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Primary PIN entered by</xsd:Description>
						<ELFFieldNumber>AUTH0080</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Spouse PIN entered by -->
			<xsd:element name="SpousePINEnteredByCd" type="PINEnteredByType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Spouse PIN entered by</xsd:Description>
						<ELFFieldNumber>AUTH0080</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Primary Signature -->
			<xsd:element name="PrimarySignaturePIN" type="PINType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Primary Signature</xsd:Description>
						<ELFFieldNumber>AUTH0035</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Spouse Signature -->
			<xsd:element name="SpouseSignaturePIN" type="PINType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Spouse Signature</xsd:Description>
						<ELFFieldNumber>AUTH0065</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Primary Signature Date -->
			<xsd:element name="PrimarySignatureDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Primary Signature Date</xsd:Description>
						<ELFFieldNumber>AUTH0070</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Spouse Signature Date -->
			<xsd:element name="SpouseSignatureDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Spouse Signature Date</xsd:Description>
						<ELFFieldNumber>AUTH0070</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Return Identifiers -->
			<xsd:element name="ReturnTypeCd">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Return Type</xsd:Description>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="StringType">
						<xsd:enumeration value="1040"/>
						<xsd:enumeration value="1040A"/>
						<xsd:enumeration value="1040EZ"/>
						<xsd:enumeration value="1040PR"/>
						<xsd:enumeration value="1040SS"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			
			<!-- Filer -->
			<xsd:element name="Filer">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Filer</xsd:Description>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PrimarySSN" type="SSNType">
							<xsd:annotation>
								<xsd:documentation>
									<xsd:Description>Primary SSN</xsd:Description>
									<ELFFieldNumber>F1040-0010</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SpouseSSN" type="SSNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<xsd:Description>Spouse SSN</xsd:Description>
									<ELFFieldNumber>F1040-0030</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="NameLine1Txt" type="NameLine1Type">
							<xsd:annotation>
								<xsd:documentation>
									<xsd:Description>Name</xsd:Description>
									<ELFFieldNumber>F1040-0060</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="InCareOfNm" type="InCareOfNameType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<xsd:Description>In Care Of Name</xsd:Description>
									<ELFFieldNumber>F1040-0070</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="PrimaryNameControlTxt" type="PersonNameControlType">
							<xsd:annotation>
								<xsd:documentation>
									<xsd:Description>Primary Name Control</xsd:Description>
									<ELFFieldNumber>F1040-0050</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SpouseNameControlTxt" type="PersonNameControlType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<xsd:Description>Spouse Name Control</xsd:Description>
									<ELFFieldNumber>F1040-0055</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:choice>
							<xsd:element name="USAddress" type="USAddressType">
								<xsd:annotation>
									<xsd:documentation>
										<xsd:Description>US Address</xsd:Description>
										<ELFFieldNumber>F1040-0062 F1040-0064 F1040-0066 F1040-0080 F1040-0083 F1040-0087 F1040-0095</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ForeignAddress" type="ForeignAddressType">
								<xsd:annotation>
									<xsd:documentation>
										<xsd:Description>Foreign Address</xsd:Description>
										<ELFFieldNumber>F1040-0062 F1040-0064 F1040-0066 F1040-0080 F1040-0083 F1040-0087 F1040-0095</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:choice>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Paid Preparer Information -->
			<xsd:element name="PaidPreparerInformationGrp" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Paid Preparer Information</xsd:Description>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SignatureDt" type="DateType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<xsd:Description>Date Signed</xsd:Description>
									<ELFFieldNumber>NL</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SelfEmployedInd" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<xsd:Description>Self Employed</xsd:Description>
									<ELFFieldNumber>F1040-1350</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:choice minOccurs="0">
							<xsd:element name="PTIN" type="PTINType">
								<xsd:annotation>
									<xsd:documentation>
										<xsd:Description>Preparer PTIN</xsd:Description>
										<ELFFieldNumber>F1040-1360</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="STIN" type="STINType">
								<xsd:annotation>
									<xsd:documentation>
										<xsd:Description>Preparer STIN</xsd:Description>
										<ELFFieldNumber>F1040-1360</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="PreparerSSN" type="SSNType">
								<xsd:annotation>
									<xsd:documentation>
										<xsd:Description>Preparer SSN</xsd:Description>
										<ELFFieldNumber>F1040-1360</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:choice>
						<xsd:element name="PreparerFirmEIN" type="EINType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<xsd:Description>Preparer Firm ID Number</xsd:Description>
									<ELFFieldNumber>F1040-1380</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Preparer Person Name -->
						<xsd:element name="PreparerPersonNm" type="PersonNameType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<xsd:Description>Preparer Person Name</xsd:Description>
									<ELFFieldNumber>F1040-1340</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Preparer Firm Name -->
						<xsd:element name="PreparerFirmName" type="BusinessNameType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<xsd:Description>Preparer Firm Name</xsd:Description>
									<ELFFieldNumber>F1040-1370</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:choice minOccurs="0">
							<xsd:element name="PreparerUSAddress" type="USAddressType">
								<xsd:annotation>
									<xsd:documentation>
										<xsd:Description>US Address</xsd:Description>
										<ELFFieldNumber>F1040-1390 F1040-1400 F1040-1410 F1040A-1385</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="PreparerForeignAddress" type="ForeignAddressType">
								<xsd:annotation>
									<xsd:documentation>
										<xsd:Description>Preparer Foreign Address</xsd:Description>
										<ELFFieldNumber>F1040-1390 F1040-1400 F1040-1410 F1040A-1385</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:choice>
						
						<xsd:choice minOccurs="0">
							<xsd:element name="PhoneNum" type="PhoneNumberType">
								<xsd:annotation>
									<xsd:documentation>
										<xsd:Description>Phone</xsd:Description>
										<ELFFieldNumber>F1040-1420</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ForeignPhoneNum" type="ForeignPhoneNumberType">
								<xsd:annotation>
									<xsd:documentation>
										<xsd:Description>Foreign Phone</xsd:Description>
										<ELFFieldNumber>F1040-1420</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:choice>
						<xsd:element name="EmailAddressTxt" type="EmailAddressType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<xsd:Description>Email Address</xsd:Description>
									<ELFFieldNumber>NL</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- IP Address -->
			<xsd:element name="IPAddress" type="IPAddressType">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>IP Address</xsd:Description>
						<ELFFieldNumber>SUM0190</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Device ID -->
			<xsd:element name="DeviceId" type="DeviceIdType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Device ID</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Online Filer Information -->
			<xsd:element name="OnlineFilerInformation" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Online Filer Information</xsd:Description>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<!-- Choice between Routing Transit Number or Check -->
						<xsd:choice minOccurs="0">
							<!-- Routing Transit Number -->
							<xsd:element name="RoutingTransitNum" type="RoutingTransitNumberType">
								<xsd:annotation>
									<xsd:documentation>
										<xsd:Description>Routing Transit Number</xsd:Description>
										<ELFFieldNumber>SUM0217</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<!-- Check -->
							<xsd:element name="CheckCd" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>
										<xsd:Description>Check</xsd:Description>
										<ELFFieldNumber>SUM0217</ELFFieldNumber>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="StringType">
										<xsd:enumeration value="Check"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:choice>
			
						<!-- Depositor Account Number -->
						<xsd:element name="DepositorAccountNum" type="BankAccountNumberType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<xsd:Description>Depositor Account Number</xsd:Description>
									<ELFFieldNumber>SUM0219</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
			
						<!-- Email Address -->
						<xsd:element name="EmailAddressTxt" type="EmailAddressType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<xsd:Description>Email Address</xsd:Description>
									<ELFFieldNumber>SUM0195</ELFFieldNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- Additional Filer Information -->
			<xsd:element name="AdditionalFilerInformation" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>

						<!-- Bank Product Disbursement Code -->
						<xsd:element name="BankProductDisbursementCd" minOccurs="0">
							<xsd:simpleType>
								<xsd:restriction base="TextType">
									<xsd:enumeration value="0"/>
									<xsd:enumeration value="1"/>
									<xsd:enumeration value="2"/>
									<xsd:enumeration value="3"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<!-- Routing Transit Number -->
						<xsd:element name="RoutingTransitNum" type="RoutingTransitNumberType" minOccurs="0"/>

						<!-- Depositor Account Number -->
						<xsd:element name="DepositorAccountNum" type="BankAccountNumberType" minOccurs="0"/>

						<!-- Primary Taxpayer Driver's License or State Identification -->
						<xsd:element name="PrimDrvrLcnsOrStateIssdIdGrp" type="DrvrLcnsOrStateIssdIdGrpType" minOccurs="0"/>

						<!-- Spouse Driver's License or State Identification -->
						<xsd:element name="SpsDrvrLcnsOrStateIssdIdGrp" type="DrvrLcnsOrStateIssdIdGrpType" minOccurs="0"/>

						<!-- Cell Phone Number -->
						<xsd:choice minOccurs="0">
							<xsd:element name="CellPhoneNum" type="PhoneNumberType" minOccurs="0"/>
							<xsd:element name="ForeignCellPhoneNum" type="ForeignPhoneNumberType" minOccurs="0"/>
						</xsd:choice>
			
						<!-- Email Address -->
						<xsd:element name="EmailAddressTxt" type="EmailAddressType" minOccurs="0"/>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- Filing Security Information -->
			<xsd:element name="FilingSecurityInformation" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>

						<!-- Federal Original Submission Identification -->
						<xsd:element name="FederalOriginalSubmissionId" type="SubmissionIdType" minOccurs="0"/>

						<!--  Federal Original Submission Identification Date -->
						<xsd:element name="FederalOriginalSubmissionIdDt" type="DateType" minOccurs="0"/>

						<!-- Bank Product Disbursement Code -->
						<xsd:element name="FilingLicenseTypeCd" minOccurs="0">
							<xsd:simpleType>
								<xsd:restriction base="TextType">
									<xsd:enumeration value="I"/>
									<xsd:enumeration value="P"/>
									<xsd:enumeration value="O"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<!-- Device ID -->
						<xsd:element name="DeviceId" type="DeviceIdType" minOccurs="0"/>

						<!-- IP Address -->
						<xsd:element name="IPAddress" type="IPAddressType" minOccurs="0"/>
	
						<!-- Total Preparation Submission Time Span -->
						<xsd:element name="TotalPreparationSubmissionTs" minOccurs="0">
							<xsd:simpleType>
								<xsd:restriction base="TextType">
									<xsd:pattern value="[0-9]{6}"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- Paper Document Indicator - Form 8283 -->
			<xsd:element name="Form8283PaperDocumentInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Form 8283 Paper Document Ind</xsd:Description>
						<ELFFieldNumber>SUM0150</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Paper Document Indicator  - Form 8858  -->
			<xsd:element name="Form8858PaperDocumentInd" type="CheckboxType" minOccurs="0">					
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Form 8858 Paper Document Ind</xsd:Description>
						<ELFFieldNumber>SUM0153</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Paper Document Indicator  - Form 8332  -->
			<xsd:element name="Form8332PaperDocumentInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Form 8332 Paper Document Ind</xsd:Description>
						<ELFFieldNumber>SUM0156</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Paper Document Indicator  - Form 3468  -->
			<xsd:element name="Form3468PaperDocumentInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Form 3468 Paper Document Ind</xsd:Description>
						<ELFFieldNumber>SUM0159</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Paper Document Indicator  - Form 3115  -->
			<xsd:element name="Form3115PaperDocumentInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Form 3115 Paper Document Ind</xsd:Description>
						<ELFFieldNumber>SUM0162</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Paper Document Indicator  - Form 5713  -->
			<xsd:element name="Form5713PaperDocumentInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Form 5713 Paper Document Ind</xsd:Description>
						<ELFFieldNumber>SUM0165</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Paper Document Indicator  - Form 1098C  -->
			<xsd:element name="Form1098CPaperDocumentInd" type="CheckboxType" minOccurs="0">					
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Form 1098C Paper Document Ind</xsd:Description>
						<ELFFieldNumber>SUM0168</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Paper Document Indicator  - Form 8864  -->
			<xsd:element name="Form8864PaperDocumentInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Form 8864 Paper Document Ind</xsd:Description>
						<ELFFieldNumber>SUM0174</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Paper Document Indicator  - Form 4136  -->
			<xsd:element name="Form4136PaperDocumentInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Form 4136 Paper Document Ind</xsd:Description>
						<ELFFieldNumber>SUM0177</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Paper Document Indicator - Power of Attorney -->
			<xsd:element name="POAPaperDocumentInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Power of Attorney Paper Document Ind</xsd:Description>
						<ELFFieldNumber>SUM0183</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Paper Document Indicator  - Form 8949  -->
			<xsd:element name="Form8949PaperDocumentInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<xsd:Description>Form 8949 Paper Document Indicator</xsd:Description>
						<ELFFieldNumber>NL</ELFFieldNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
		
		<!-- Binary Attachment Count -->
		<xsd:attribute name="binaryAttachmentCnt" type="IntegerNNType" use="required">
			<xsd:annotation>
				<xsd:documentation>
				<xsd:Description>The number of binary attachments in the return</xsd:Description>
				<ELFFieldNumber>NL</ELFFieldNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		
	</xsd:complexType>

	<!-- Driver's License or State Identification Group Type -->
	<xsd:complexType name="DrvrLcnsOrStateIssdIdGrpType">
		<xsd:sequence>

			<!-- Driver's License or State Identification Number -->
			<xsd:element name="DrvrLcnsOrStateIssdIdNum" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<!-- Driver's License or State Identification State Code -->
			<xsd:element name="DrvrLcnsOrStateIssdIdStCd" type="StateType" minOccurs="0"/>

			<!-- Driver's License or State Identification Expiration Date -->
			<xsd:element name="DrvrLcnsOrStateIssdIdExprDt" type="DateType" minOccurs="0"/>

			<!-- Driver's License or State Identification Issue Date -->
			<xsd:element name="DrvrLcnsOrStateIssdIdIssDt" type="DateType" minOccurs="0"/>

		</xsd:sequence>
	</xsd:complexType>

	<!-- Submission ID Type -->
	<xsd:simpleType name="SubmissionIdType">
		<xsd:restriction base="IdType">
			<xsd:pattern value="[0-9]{13}[a-z0-9]{7}"/>
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>
